@media screen and (max-width: 760px) {
    p{
        display: none;
    }
    header {
      flex-direction: column;
      margin-bottom: 10px;
    }
  
    main {
      flex-direction: column;
      margin-top: 10px;
    }
  
    h2 {
      font-size: 38px;
      margin-bottom: 10px;
    }
  
    form {
      margin: 0 auto;
      width: 90%;
      max-width: 500px;
    }
  
    input {
      align-self: stretch;
      margin-top: 10px;
    }
  
    img {
      display: none;
    }
  
    ul {
      text-align: center;
      margin-top: 0;
    }
  }
  
  @media screen and (min-width: 761px) and (max-width: 1024px) {
    header {
      margin-bottom: 20px;
    }
  
    main {
      margin-top: 20px;
    }
  
    form {
      margin: 0 auto;
      width: 60%;
      max-width: 700px;
    }
  } }
  span{
    width: 10px;
    height: 10px; 
  }
  h2 {
    padding: 2px;
    font-size: 30px;
    line-height: 1px;
    font-family: "poppinsbold";
}
p{
  font-size: 15px;
  color: white;
}
